
.icon-graduation-cap:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-html5:before { content: '\e802'; } /* '' */
.icon-tasks:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-weibo:before { content: '\f18a'; } /* '' */
.icon-qq:before { content: '\f1d6'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */